<div class="book-main-container">
  <div class="main-inner">
    <div class="book-page-title-container">
      <div class="backIcon">
        <img
          src="../../../assets/images/Back.svg"
          alt=""
          (click)="backToHome()"
        />
      </div>
      <h2 class="page-title">
        {{ pageTitle }}
      </h2>
    </div>
    <div class="searchBox">
      <div
        class="searchInputContainer"
        [ngClass]="{ border: this.inputBorder }"
      >
        <img src="../../../assets/images/Search.svg" alt="Search" />
        <input
          type="text"
          placeholder="Search"
          [formControl]="searchString"
          (focus)="addRemoveBorder(true)"
          (focusout)="addRemoveBorder(false)"
          (keyup.enter)="searchBooks()"
        />
        <img
          src="../../../assets/images/Cancel.svg"
          alt="Cancel"
          class="cancel"
          *ngIf="showCross"
          (click)="emptySearch()"
        />
      </div>
    </div>
    <div class="listBackground">
      <div
        class="book-list-container search-results"
        infinite-scroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="20"
        [scrollWindow]="false"
        (scrolled)="onScroll()"
      >
        <div class="book-container" *ngFor="let book of books">
          <div
            class="book-image-container"
            style="
              background-image: url('{{ book.formats['image/jpeg'] }}');
              "
          ></div>
          <p class="book-title">{{ book.title }}</p>
          <p class="book-author">{{ book.authors[0]?.name }}</p>
        </div>
        <div *ngIf="fetchingData" class="loader">Loading books....</div>
      </div>
    </div>
  </div>
</div>
